<% include partials/header%>
<div class="text-center mt-5">
  <a class="mx-5" href="/auth/github">
    <button class="btn btn-warning">Github Login</button>
  </a>
  <a href="/auth/google">
    <button class="btn btn-primary">Google Login</button>
  </a>
</div>
</body>
</html>